
body {
  font-size: 14px;
  margin: 0%;
}



header{
font-family: 'Geologica', sans-serif;
padding: 20px 20px 0px 20px; 
background-color: rgba(172,209,251,1);
}

nav ul li {
  font-family: 'Geologica', sans-serif;
  display: inline-block;
}

.header1 {
  text-decoration: none;
  color: black;
  font-family: 'Geologica', sans-serif;
  text-align: left;
  font-size: 3em;
  padding-right: 2%;
  font-weight: bold;
}


.header2 {
  text-decoration: none;
  color: black;
  font-family: 'Geologica', sans-serif;
  padding: 8px 15px 0px 15px; 
  font-size: 2em; 
  border-top-right-radius: 6px; 
  border-top-left-radius:6px; 
  border-bottom-left-radius: 0px;
  text-align: right;
}

.header2:hover{
  background-color: #4f81c7;
}

h1 {
  top: 288px;
  font-family: Futura;
  font-weight: Bold;
  font-size: 96px;
  opacity: 1;
  text-align: center;
  margin-top: 10%;
  margin-right: 0%;
}


.bottone1 {
  width: 177px;
  height: 58px;
  padding: 10px 10px;
  background-color: rgba(172,209,251,1);
  margin: 10px;
  top: 580px;
  left: 565px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  border-color: rgba(172,209,251,1);
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.17000000178813934);
  opacity: 5;
  margin-left: 43%;
  margin-bottom:10%;
}


.bottone1:hover {
  background-color:#4f81c7;
}
  
.bottone2 {
  width: 157px;
  color: rgba(248,248,248,1);
  top: 10px;
  left: 10px;
  font-family: 'Geologica', sans-serif;
  font-weight: Bold;
  font-size: 2em;
  opacity: 5;
}

.home2 {
  width: 100%;
  height: 832px;
  background: rgba(172,209,251,1);
  opacity: 1;
  top: 873px;
  left: 0px;
}
 
.home3 {
width: 100%;
height: 832px;
background: white repeat-x fixed top left;
text-align: center;
}

.paragrafo1 {
  width: 818px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1172px;
  left: 182px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: center;
  margin-left: 9%;
  margin-top: 0%;
  line-height: 1,5;
}

.title2 {
  width: 642px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1001px;
  font-family: Futura;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
  margin-top: -2%;
  margin-bottom: 1%;
  margin-left: 27%;
}

.title3 {
  margin-right: 0%;
  width: 642px;
  font-family: Futura;
  font-weight: Bold;
  font-size: 40px;
  opacity: 1;
  margin-top: 5%;
  margin-bottom: 0%;
  margin-left: 27%;
}

.musictitle {
  color:rgba(172,209,251,1) 
}


h2 {
  font-family:Futura;
  font-size:2.5em;
  font-weight:bold;
  color:white; 
  padding: 10px 10px;
  background-color: rgba(172,209,251,1);
  margin: 10px;
  top: 580px;
  left: 565px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  border-color: rgba(172,209,251,1);
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.17000000178813934);
  overflow: hidden;
  opacity: 5;
  
}

h4 {
  font-family:Futura;
  font-size:2.5em;
  font-weight:bold;
  color:white; 
  padding: 10px 10px;
  background-color: rgba(172,209,251,1);
  margin: 10px;
  top: 580px;
  left: 565px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  border-color: rgba(172,209,251,1);
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.17000000178813934);
  overflow: hidden;
  opacity: 5;
 
}

h3 {
  font-family:Futura;
  font-weight:bold;
  position:left;
  color:black;
  font-size: 2em;
  
}

h5 {
  font-family:Futura;
  font-weight:bold;
  position:left;
  color:black;
  font-size: 2em;
}

section {
  display:inline-block;
  text-align:center;
  margin-left: 5%;
  margin-bottom:5%;
}

footer{
  text-align: center;
  font-size: 1.5em;
  background-color:rgba(172,209,251,1);
}

.instagram{
  text-decoration:none;
  color:black;
}

.spotify{
  text-decoration:none;
  color:black;
}

.documentazione {
  text-decoration:none;
  color:black;
}